body {background-color:black;font-family:arial;color:white;align:center;}
h1{color:grey;font-family:verdana;text-align:center}

.maindiv{
    margin:auto;
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 65%;
}

.Button, {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin-left:75px;
    width: 30%;
}

.inputRow{
    line-height:2;
}

#result{
    line-height:1;
    margin-left:75px;
}

footer{
    margin-top: 20px;
}
